@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "/Views/Shared/_LayoutIdentity.cshtml";
}
<div class="card-body">
    <h1 class="text-danger text-center">@Model.StatusCode</h1>
    <h5 class="card-title text-center">@Model.Message</h5>
    <hr class="my-4">
    <h6 class="text-danger">@Model.Description</h6>
      <br />
    <a class="btn-info btn btn-block" asp-controller="Outlets" asp-area="Admin" asp-action="Index">Back to home</a>
    <hr class="my-4">
</div>