
@{
    ViewData["Title"] = "Schedule";
}
<div class="container mt-3">
    <h4>Playlists</h4><br />
    <div class="list-group" id="myList">
        @{ string[] Playlists = { "Playlist 1", "Playlist 2" };}
        @foreach (var playlist in Playlists)
        {
            <a href="#" class="list-group-item text-body text-decoration-none">
                <div class="row">
                    <div class="col-sm-2">
                        <h4>@playlist</h4>
                    </div>
                    <div class="col-sm-7 align-content-center h-100">

                        <small>Track 1 - 10AM to 12PM</small><br />
                        <small>Track 2 - 1PM to 4PM</small><br />
                        <small class="text-success">Plays every Week on Monday</small>
                    </div>
                    <div class="col-sm-3 align-content-end">
                        <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Edit", "Playlist")'"> Edit </button>
                    </div>
                </div>
            </a>
        }

    </div>
</div>

<div class="container row mt-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 border p-5">
        <h4 class="">Create New Playlist</h4>
        <br />
        <form action="#">
            <div class="form-group">
                <label for="name">Playlist Name:</label>
                <input type="text" class="form-control" placeholder="Enter name" id="name">
            </div>
            <div class="form-group">
                <label for="schedule">Playlist Schedule:</label><br />
                <select class="form-control" id="schedule">
                    <option>Daily</option>
                    <option>Alternate Days</option>
                    <option>Weekly</option>
                    <option>Yearly</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sel3">Even or Odd Days?</label>
                <select class="form-control" id="sel1">
                    <option>Even Days</option>
                    <option>Odd Days</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sel1">Which day?</label>
                <select class="form-control" id="sel1">
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                </select>
            </div>

            <div class="form-group">
                <label for="sel2">Which Date?</label>
                <input type="date" class="form-control" id="sel2">
            </div><br />
            <h5>Tracks:</h5><br />
            <div class="list-group" id="myList">
                <a href="#" class="list-group-item text-body text-decoration-none">
                    <div class="row">
                        <div class="col-sm-10 align-content-center h-100">
                            <span class="text-primary"> https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3<br /> </span>
                            <small>Start Time: 10AM</small><br />
                            <small>End Time: 1PM</small><br />
                        </div>
                        <div class="col-sm-2 align-content-end">
                            <button class="btn btn-outline-info btn-sm"> Edit </button>
                            <button class="btn btn-outline-danger btn-sm"> Remove </button>
                        </div>
                    </div>
                </a><br />
                <a href="#" class="list-group-item text-body text-decoration-none">
                    <div class="row">
                        <div class="col-sm-10 align-content-center h-100">
                            <span class="text-primary"> https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3<br /> </span>
                            <small>Start Time: 10AM</small><br />
                            <small>End Time: 1PM</small><br />
                        </div>
                        <div class="col-sm-2 align-content-end">
                            <button class="btn btn-outline-info btn-sm"> Edit </button>
                            <button class="btn btn-outline-danger btn-sm"> Remove </button>
                        </div>
                    </div>
                </a><br />
                <div class="col-sm-12"><button class="btn btn btn-sm"> + Add Track </button></div>

            </div>

            <br /><br />
            <button type="submit" class="btn btn-success">Create playlist</button>
        </form>
    </div>
</div>