@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container row">
    <div class="col-sm-6 border p-5">
        <h4 class="">Edit Outlet</h4><br />
        <form action="#">
            <div class="form-group">
                <label for="name">Outlet Name:</label>
                <input type="text" class="form-control" placeholder="Enter name" id="name">
            </div>
            <div class="form-group">
                <label for="logo">Outlet Logo:</label><br />
                <input type="file" class="" placeholder="Choose logo" id="logo">
            </div><br />
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <div class="col-sm-6 border p-5">
        <h4 class="">Change Password</h4><br />
        <form action="#">
            <div class="form-group">
                <label for="pwd">New Password:</label>
                <input type="password" class="form-control" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="pwd">Confirm New Password:</label>
                <input type="password" class="form-control" placeholder="Enter password">
            </div><br />
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>
</div>
<div class="container row">
    <div class="col-sm-12 border p-5">
        <h4>Devices</h4><br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Device Id</th>
                    <th>Device Details</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ABCD1234567890</td>
                    <td>Samsung Tab S7</td>
                    <td><small class="text-primary">Waiting Approval</small></td>
                    <td>
                        <button class="btn btn-primary btn-sm"> Approve </button> &nbsp;
                        <button class="btn btn-danger btn-sm"> Remove </button> &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>IDLA1234567890</td>
                    <td>iPad Pro</td>
                    <td><small>Playing Tract 1</small></td>
                    <td>                        
                        <button class="btn btn-danger btn-sm"> Remove </button> &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>DLAD1234567890</td>
                    <td>Samsung Tab A10</td>
                    <td><small>Music Paused</small></td>
                    <td>
                        <button class="btn btn-danger btn-sm"> Remove </button> &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
