@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger"></h1>
    <p class="text-danger"></p>
</header>

<div class="card-body">
    <h5 class="card-title text-center">Sign Up</h5>
    <hr class="my-4">
    <h6 class="text-danger">@ViewData["Title"]</h6>
    <p class="text-info">You do not have access to this resource.</p>
    <hr class="my-4">
</div>