@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="card-body">
    <h5 class="card-title text-center">Sign Up</h5>
    <form class="form-signin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-label-group">
            <input class="form-control" asp-for="Input.Email" placeholder="Email address" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <label asp-for="Input.Email"></label>
        </div>
        <div class="form-label-group">
            <input  asp-for="Input.Password" class="form-control" placeholder="Password" required>
            <label asp-for="Input.Password" ></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-label-group">
            <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Password" required>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            <label asp-for="Input.ConfirmPassword"></label>
        </div>
        <button class="btn btn-lg btn-success btn-block text-uppercase mb-2" type="submit">Register</button>
        <p>
            Have already an account?<a asp-page="./LogIn" class="text-primary text-decoration-none"> Log In</a>
        </p>
        <hr class="my-4">
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
