@page
@model MusicControllerWeb.Areas.Identity.Pages.Account.ReigstationConfirmModel
@{
}


<div class="card-body">
    <h5 class="card-title text-center">Sign Up</h5>
    <hr class="my-4">
    <h6 class="text-danger">Register successfully</h6>
    <p class="text-info">Please wait while Admin accepts you reqeust</p>
    <hr class="my-4">
    <p>
        Have already an account?<a asp-page="./LogIn" class="text-primary text-decoration-none"> Log In  </a>
    </p>
    <p>
        Don't have an account?<a asp-page="./Register" class="text-primary text-decoration-none"> Register  </a>
    </p>
    <hr class="my-4">
</div>
