@page
@model MusicControllerWeb.Areas.Identity.Pages.Account.ReigstationConfirmModel
@{
}
<header>
    <h1 class="text-danger">Register successfully</h1>
    <p class="text-info">Please wait while Admin accepts you reqeust</p>
</header>
