@model TrackViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.EditPlaylist = true;
    ViewBag.PlaylistId = Model.PlaylistId;
}
@section styles{
    <link href="~/css/jquery.timepicker.min.css" rel="stylesheet" />
}
<div class="row card-body">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 border p-5 white-color">
        <h4 class="text-center">Add Track</h4><br />
        <form asp-action="Edit" autocomplete="off" onsubmit="return onAddTrackSubmitClick(this)" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <input asp-for="PlaylistId" value="@Model.PlaylistId" type="hidden" />
            <input asp-for="PlaylistId" value="@Model.StartTime" type="hidden" />
            <input asp-for="PlaylistId" value="@Model.EndTime" type="hidden" />
 
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" id="file" onchange="readURL(this)" placeholder="Choose logo" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="TrackURL"></label>
                <input asp-for="TrackURL" class="form-control" placeholder="Enter TrackUrl">
                <span asp-validation-for="TrackURL" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="FormatedStartTime"></label>
                <input asp-for="FormatedStartTime" class="form-control timepicker" placeholder="Enter Start Time">
                <span asp-validation-for="FormatedStartTime" class="text-danger"></span>
                <span id="ErrstartTime" class="text-danger" style="display:none;">Start time must be less then End time.</span>
            </div>
            <div class="form-group">
                <label asp-for="FormatedEndTime"></label>
                <input asp-for="FormatedEndTime" class="form-control timepicker" placeholder="Enter End Time">
                <span asp-validation-for="FormatedEndTime" class="text-danger"></span>
                <span id="ErrEndTime" class="text-danger" style="display:none;">End time must be greater then Start time.</span>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
        <div>
            <br />
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script src="https://cdn.jsdelivr.net/momentjs/2.13.0/moment.min.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/Views/Tracks/Tracks.js"></script>
}
